params {   
    input = false
    bcftools_view = false
    samtools_view = false
}

process {
    container = 'lifebitai/samtools:s3'
    withName: samtools_view {
         container = 'lifebitai/samtools:s3'
         containerOptions = '-v /etc/ssl:/etc/ssl -v /usr/local/share/ca-certificates:/usr/local/share/ca-certificates'
      }
    withName: bcftools_view {
         container = 'lifebitai/bcftools:s3'
         containerOptions = '-v /etc/ssl:/etc/ssl -v /usr/local/share/ca-certificates:/usr/local/share/ca-certificates'
      }
}

docker.enabled = true
